# course config files
*.yaml

# gradle
.gradle/
build


# idea config
.idea

# old stages
/Coffee Machine Simulator with Java/*
!/Coffee Machine Simulator with Java/task/
/Coffee Machine Simulator with Java/task/*
!/Coffee Machine Simulator with Java/task/src

# Project exclude paths
/Topics/Defining classes/Representing time as a class/out/
/Topics/Defining classes/Representing time as a class/out/production/classes/
/Topics/Increment and decrement/Theory/out/
/Topics/Increment and decrement/Theory/out/production/classes/